/* This will add some content to the grid and display it in block */
.grid:after {
	content: " ";
	display: block;
	clear: both;
}

/* Box model compatile with browsers */
*, *.after, *.before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Custom class for our columns */
[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

/* Crates 10 columns and we are using 2 of those columns */
.col-2of8 {
	width: 25%;
}

/* Creates one column */
.col-1of1 {
	width: 100%;
}

/* Creates 4 columns */
.col-1of4 {
	width: 25%;
}

/* Creates two columns */
.col-1of2 {
	width: 50%;
}

/* Creates three columns */
.col-1of3 {
	width: 33.3%;
}

.col-2of5 {
	width: 20%;
}

.col-1of6{
	width: 16.6%;
}

/************************** Grid for the phones **************************/

/* When the device is below 1000px we set the width of the columns to be different */
@media (max-width: 1050px) {
	.col-1of4 {
		width: 50%;
    }

}

/* When the device is below 630 we set the width of the columns to be different */
@media (max-width: 630px) {
	.col-2of10 {
		width: 50%;
	}

     .col-1of4 {
		width: 100%;
    }

    .col-1of2 {
		width: 100%;
    }
}

/* When the device is below 800px we set the width of the columns to be different */
@media (max-width: 800px) {
    .col-1of2 {
		width: 100%;
    }
}

/* When the device is below 480px we set the width of the columns to be different */
@media (max-width: 480px) {
	.col-2of10 {
		width: 100%;
	}
}