<div ng-controller="SplitBillCtrl">

	<h4>Select the number of roommates:</h4>
    <input type="text" ng-model="numOfRoommates" placeholder="# of Roommates">
    <hr/>
	<h4>Select bill you wish to add:</h4>
	<ol>
	   	<li ng-repeat="item in addItem">
      	<div>
          <div style="display:inline">
            <span>
        	    <select>
        	    	<option ng-model="select-bill"> Select bill </option>
					    	<option ng-model="rent"> Rent </option>
					    	<option ng-model="hydro"> Hydro </option>
					    	<option ng-model="internet"> Internet </option>
					    	<option ng-model="cable"> Cable </option>
					    	<option ng-model="utilities"> Utilities </option>
					    	<option ng-model="other"> Other </option>
					    </select>
            </span>
          </div>

	            <input type="text" ng-change="onchange($event, item)" ng-model="item.billAmount" placeholder=" $ ...">
	            <span ng-hide="item.length == 1">
	                <a ng-click="addItem.splice($index, 1)"><img src="images/remove.svg" height="30" width="30">Remove</a> <br><br>
	            </span>
	        </div>
     	</li>
    </ol>

    <a href ng-click="newItem($event)"><img src="images/add.svg" height="30" width="30">Add</a>
    <hr/>
    <h3> Total: $ {{sumOfValues}} </h3>
    <h3>{{result}}</h3>
    <hr>
    <button ng-click='calculate()'>Calculate</button></a>
    <p>iidejeij</p>
    <p>iidejeij</p>
    <p>iidejeij</p>
    <p>iidejeij</p>
    <p>iidejeij</p>
    <p>iidejeij</p>
</div>
